<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<style>
    .container{
    margin-top:0rem;
    }
    @media(max-width:500px){
    .container{
        margin-top: 6rem;
    }
    }
    </style>

    <br><br><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="card mb-5">
        <h3 class="card-header text-center text-white bg-primary">Signup</h3>
        <div class="card-body">
        
          <form #signupform="ngForm" (ngSubmit)="signupsub(signupform.value)">
          <div class="row">
          <div class="form-group col-md-6">
          <label>Username</label>
          <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
            
          </div>
          <input type="text" name="username" #username="ngModel" ngModel required minlength="5" placeholder="Username" class="form-control">
        </div>
          
          </div>
          <div class="form-group col-md-6">
          <label>Password</label>
          <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
        
          </div>
          <input type="password" name="password" #password="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" ngModel required placeholder="Password" class="form-control">
        </div>
          
          </div> 
          <div class="form-group col-md-6">
          <label>Email</label>
          <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
            
          </div>
          <input type="text" name="email" #email="ngModel" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" ngModel required placeholder="Email" class="form-control">
        </div>
          
          </div>
          <div class="form-group col-md-6">
          <label>Address</label>
          
          <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-address-card"></i></span>
            
          </div>
          <input type="text" name="address" #address="ngModel" ngModel required placeholder="Address" class="form-control">
        </div>
          
          </div>
          <div class="form-group col-md-12">
          <label>Fullname</label>
          <div class="input-group mb-3">
          
          <input type="text" name="fullname" #fullname="ngModel" pattern="^[\\p{L} .'-]+$" ngModel required placeholder="Fullname" class="form-control">
        </div>
          
          </div>
          <!-- <div *ngIf="username.errors">
              <small *ngIf="username.errors.required && username.touched" class="btn-danger">Username is required</small>
              <small *ngIf="username.errors.minlength && username.dirty" class="btn-info">
                  {{username.errors.minlength.requiredLength-username.errors.minlength.actualLength}} more characters
              </small>
          </div>

          <div *ngIf="password.errors">
            <small *ngIf="password.errors.required && username.touched" class="btn-danger"><br>Password is required</small>
            <small *ngIf="password.errors.pattern && username.dirty" class="btn-info">
              Password should contain minimum 8 characters, atleast one letter and one number.
            </small>
        </div>

        <div *ngIf="email.errors">
          <small *ngIf="email.errors.required && email.touched" class="btn-danger"><br>Email is required</small>
          <small *ngIf="email.errors.pattern && email.dirty" class="btn-danger">
              Invalid email address!
          </small>
      </div>

      <div *ngIf="address.errors">
        <small *ngIf="address.errors.required && address.touched" class="btn-danger"><br>Address is required</small>
    </div>

    <div *ngIf="fullname.errors">
      <small *ngIf="fullname.errors.required && username.touched" class="btn-danger"><br>Fullname is required</small>
      <small *ngIf="fullname.errors.minlength && username.dirty" class="btn-danger">
          Invalid Fullname!
      </small>
  </div> -->
      
      </div>
      <button type="submit" class="btn btn-primary btn-block col-md-12">Submit</button>
      </form>
        
        </div>
        </div>
        </div></div>
        </div>
    `
    